body {
    background: #B0E6FA;
}

/*div {
    margin-left: %;
}*/

p {
    text-align: left;
}


h1 {
    background-color: #044C83;
    font-family: Arial Black;
    color: white;
    font-size: 4ex;
    text-align: center;
}

h3 {
    font-family: Bahnschrift;
    color: black;
    font-size: 3ex;
    text-align: left;
}
