body {
    background: #AAFE88;
}

p {
    text-align: left;
    font-family: Arial;
    color: black;
    font-weight: normal;
}

strong {
    text-align: center;
    font-family: Arial Black;
    font-size: 2ex;
    color: black;
    font-weight: bold;
}

h2 {
    background-color: #41E000;
    font-family: Verdana;
    color: white;
    font-size: 7ex;
    text-align: center;
}
