body {
    background: #55B4FF;
}

div {
    margin-left: 30%;
}


h2 {
    background-color: #044C83;
    font-family: Arial Black;
    color: white;
    font-size: 4ex;
    text-align: center;
}

h3 {
    font-family: Bahnschrift;
    color: black;
    font-size: 2ex;
    text-align: left;
}
